@media (any-hover:hover) {
	.menu-main__item:hover {

		&::before {
			transform: scale(1);
		}
		.menu-main__link {
			color: #1ed2f4;
		}
	}
	.header-main__telegramm-link:hover::before,
	.contacts__link--viber:hover::before,
	.contacts__link:hover {
		color: #1ed2f4;
	}
	.header-main__auth-link:hover {
		color: #1ed2f4;

		&::before {
			transform: scale(1);
		}
	}
	.header-main__lang-img:hover {
		box-shadow: 0 0 4px 3px #000;
	}
	.logo__img:hover {
		animation: logo_img linear 2s 0s infinite;
	}
	.footer-main__lang-img:hover {
		box-shadow: 0 0 4px 3px #fff;
	}
}
@keyframes logo_img {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}

