@import 'vars';
@import 'fonts';
@import "nullStyle.scss";
@import 'libs';
@import 'global';

// =====================================МИКСИНЫ==============================
@mixin background-img($file, $repeat ,$position...) {
	background-image: url($file);
	background-position: $position;
	background-repeat: $repeat;
}
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 280;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 280px) / #{$maxWidth}));
}
@mixin adaptiv-height($heightSize, $plusHeightSize) {
	height: calc(100vh - (#{$heightSize + px} + #{$plusHeightSize + px}));
}
// =====================================МИКСИНЫ==============================

// =====================================header-main==========================
.header-main {
	&__row:last-child {
		display: flex;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		min-height: 100px;
		height: 100%;
	}
	&__telegramm-link::before {
		content: "\e900";
		font-family: 'icomoon';
		font-size: 26px;
		color: #000;
		transition: all .5s ease;
	}
	&__auth {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 180px;
		margin-left: 50px;

		&-link {
			position: relative;
			font-size: 16px;
			color: #000;
			transition: all .5s ease;

			&::before {
				position: absolute;
				content: '';
				bottom: -5px;
				left: -2%;
				right: -2%;
				border-bottom: 3px solid $blue;
				transform: scale(0);
				transition: all .5s ease;
			}
			&:last-child::before {
				left: 10%;
				right: -2%;
			}
		}
		&-link:last-child {
			border-left: 1px solid #000;
			padding-left: 14px;
		}
	}
	&__lang {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-left: 50px;
	}
	&__lang-btn:last-child {
		margin-left: 10px;
	}
	&__lang-img {
		width: 50px;
		height: 25px;
		box-shadow: 0 0 0 0 transparent;
		transition: all .3s ease 0s;
	}
}

// =====================================menu-main============================
.menu-main {
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__item:not(:first-child) {
		margin-left: 10px;
	}
	&__item:not(:last-child) {
		margin-right: 10px;
	}
	&__item {
		position: relative;
		padding: 15px 5px;

		&::before {
			position: absolute;
			content: '';
			bottom: 3px;
			left: 10%;
			right: 10%;
			border-bottom: 3px solid $blue;
			transform: scale(0);
			transition: all .5s ease;
		}
	}
	&__link {
		font-family: $Montserrat;
		font-weight: 500;
		font-size: 16px;
		color: #000;
		transition: all .5s;
	}
}
// =====================================menu-main============================

// =====================================header-main==========================

// =====================================logo=================================
.logo {
	& .container {
		padding: 0;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		width: 100%;
		min-height: 500px;
		height: 100%;
	}
	&__content {
		flex: 0 1 40%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 10px;
	}
	&__title {
		font-family: $Lato;
		font-size: 50px;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 50px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 30px;
	}
	&__text {
		text-align: center;
		font-family: $Roboto;
		font-size: 20px;
		line-height: 20px;
		letter-spacing: 1px;
	}
	&__image {
		position: relative;
		flex: 0 0 30%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__img {
		position: relative;
		width: 132px;
		z-index: 55;
		padding: 5px;
		margin: -18% 15px 0 0;
	}
	&__img-bg {
		position: absolute;
		top: 15%;
		left: 9%;
		width: 320px;
		transition: all 10s ease;
		animation: logo_img_bg 10s infinite alternate;
	}
}
@keyframes logo_img_bg {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
// =====================================logo=================================

// =====================================statistic============================
.statistic {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #fff;
		border-radius: 15px;
		padding: 20px 100px;
	}
	&__item {
		flex: 0 1 12%;
		min-height: 100px;
		text-align: center;
	}
	&__img {
		width: 100%;
		margin-bottom: 20px;
	}
	&__title {
		font-family: $Lato;
		font-size: 16px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	&__counts {
		font-family: $Roboto;
		font-size: 22px;
		color: $blue;
	}
}
// =====================================statistic============================

// =====================================deposit===============================
.deposit {
	&__title {
		font-family: $Lato;
		font-weight: 700;
		font-size: 30px;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	&-grid {
		display: flex;
		border-radius: 15px;
		background-color: #fff;
		padding: 20px;

		&__row {
			flex: 0 1 33.333%;
			display: grid;
			grid-template-columns: minmax(85px, 150px) minmax(70px, 100px) 1fr;
			grid-template-rows: repeat(5, 1fr);
			align-items: center;
			justify-items: center;
			justify-content: center;
			grid-row-gap: 25px;
			grid-column-gap: 5px;
		}
		&__item {
			font-size: 16px;
			font-weight: 500;
		}
		&__item--left {
			justify-self: stretch;
		}
		&__item--fw--bold {
			font-weight: 700;
			justify-self: stretch;

			&::before {
				font-family: 'icomoon';
				content: "\e901";
				color: #21ba72;
			}
		}
		&__img {
			width: 35px;
			height: auto;
		}
	}
}
// =====================================deposit===============================

// =====================================withdrawal============================
.withdrawal {
	&__title {
		@extend .deposit__title;
	}
	&-grid {
		@extend .deposit-grid;

		&__row {
			@extend .deposit-grid__row;
		}
		&__item {
			@extend .deposit-grid__item;
		}
		&__img {
			@extend .deposit-grid__img;
		}
	}
	.deposit-grid__item--fw--bold::before {
		display: inline-block;
		color: rgb(255, 5, 5);
		transform: rotate(180deg);
	}
}
// =====================================withdrawal============================

// =====================================about=================================
#about__more {
	display: none;
}
.about {
	&__title {
		@extend .deposit__title;
	}
	&__inner {
		border-radius: 15px;
		background-color: #fff;
		padding: 20px;
	}
	&__text {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: .5px;
		margin-bottom: 20px;
	}
	&__btn {
		width: 100%;
		font-family: $Open_Sans;
		text-transform: uppercase;
		font-size: 16px;
		border-radius: 5px;
		background-color: #5e5e5e;
		box-shadow: 5px 5px 10px black;
		padding: 15px 20px;
		transition: all .5s;

		&:active {
			background-color: #fff;
		}
	}
}
// =====================================about=================================

// =====================================footer================================
.footer {
	& .container {
		background-color: #000000c9;
		padding-left: 0;
		padding-right: 0;
	}
	&-menu-main {
		&__list {
			@extend .menu-main__list;
		}
		&__item {
			@extend .menu-main__item;
		}
		&__link {
			@extend .menu-main__link;
			color: #fff;
		}
	}
	&-main {
		&__inner {
			@extend .header-main__inner;
			padding: 20px;
		}
		&__row {
			@extend .header-main__row;
		}
		&__telegramm-link {
			&::before {
				color: #fff;
			}
			@extend .header-main__telegramm-link;
		}
		&__auth {
			@extend .header-main__auth;
		}
		&__auth-link {
			&:last-child {
				border-color: #fff;
			}
			@extend .header-main__auth-link;
			color: #fff;
		}
		&__lang {
			@extend .header-main__lang;
		}
		&__lang-btn {
			@extend .header-main__lang-btn;
		}
		&__lang-img {
			@extend .header-main__lang-img;
		}
	}
	&-main__copy {
		font-family: $Open_Sans;
		font-size: 16px;
		text-align: center;
		line-height: 20px;
		letter-spacing: .5px;
		color: #fff;
		padding: 20px;
	}
}
// =====================================footer================================

@import "media.scss";