@media (any-hover:hover) {
	.menu-main__link:hover {
		color: $blue;
		
		&::before {
			transform: scale(1);
		}
	}
	.header-main__telegramm-link:hover::before,
	.contacts__link--viber:hover::before,
	.contacts__link:hover {
		color: $blue;
	}
	.header-main__auth-link:hover {
		color: $blue;

		&::before {
			transform: scale(1);
		}
	}
	.header-main__auth-link--center:last-child:hover {
		color: rgb(199, 14, 14);

		&::before {
			border-color: rgb(199, 14, 14);
		}
	}
	.header-main__lang-img:hover {
		box-shadow: 0 0 4px 3px #000;
	}
	.logo__img:hover {
		animation: logo_img linear 2s 0s infinite;
	}
	.footer-main__lang-img:hover {
		box-shadow: 0 0 4px 3px #fff;
	}
	.question__item-title:hover::before,
	.room__balance-item:hover::before {
		left: 0;
	}
	.room__body-inner .select__option:hover {
		background-color: $blue;
	}
}
@keyframes logo_img {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}

