$Lato: 'Lato', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Open_Sans: 'Open Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;

$headerHeight: 100;
$blue: #1ed2f4;
$red: #ff0000;
$green: #00ff08;
$lightBlack: rgba(63,61,61,0.274);

$maw: max-width;
$maxWidth: 1500;