.header-main__auth-link--center {
	&:first-child::before {
		left: -2%;
		right: 6%;
	}
	&:last-child::before {
		left: 16%;
		right: -9%;
	}
	&:first-child.active {
		color: $green;
	}
	&:first-child.active::before {
		border-color: $green;
	}
	
}