.room {
	&__balance {
		padding: 5px;
	}
	&__balance-title {
		border-bottom: 3px solid #f00;
	}
	&__balance-item {
		position: relative;
		overflow: hidden;
		margin-bottom: 10px;

		&:first-child {
			border-bottom: 3px solid #f00;
			margin-bottom: 20px;
		}
		&:not(:first-child):before {
			content: '';
			position: absolute;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background: linear-gradient(to right, $blue 0%, $blue 100%);
			transition: left .7s;
		}
		&.active::before {
			left: 0;
		}
	}
	&__balance-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5px;

		&:first-child {
			height: 35px;
		}
	}
	// &__balance-text {
	// 	font-size: 16px;
	// }
	&__balance-text span {
		font-family: $Open_Sans;
		font-weight: 700;
	}
	&__balance-icon {
		margin-left: 10px;
	}
	&__balance-link {
		position: relative;
		width: 100%;
		// font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		color: #000;
		transition: all .5s;
		z-index: 5;
		padding: 10px 5px;
	}
}