.contacts {
	&__list {
		padding: 20px;
	}
	&__item:not(:last-child) {
		margin-bottom: 20px;
	}
	&__link {
		font-family: $Montserrat;
		letter-spacing: 0.5px;
		color: #000;
		transition: all .5s;
	}
	.contacts__link--viber::before {
		content: "\e902";
	}
}