// =====================================about=================================
#about__more {
	display: none;
}
.about {
	&__title {
		@extend .deposit__title;
	}
	&__inner {
		padding: 20px;
	}
	&__text {
		line-height: 24px;
		letter-spacing: .5px;
		margin-bottom: 20px;
	}
}
// =====================================about=================================