// =====================================logo=================================
.logo {
	overflow: hidden;

	& .container {
		padding: 0;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		width: 100%;
		min-height: 500px;
		height: 100%;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&__content {
		flex: 0 1 470px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 30px 10px;
	}
	&__title {
		font-family: $Lato;
		font-size: 50px;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 50px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 30px;
	}
	&__text {
		text-align: center;
		font-family: $Roboto;
		font-size: 20px;
		line-height: 20px;
		letter-spacing: 1px;
	}
	&__image {
		position: relative;
		flex: 0 0 465px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__image-box {
		position: relative;
		width: 200px;
		height: 200px;
		z-index: 55;
		margin: -63px 0 0 -38px;
	}
	&__img {
		position: relative;
		width: 132px;
		z-index: 55;
		margin: 6% 0px 0 35px;
	}
	&__img-bg {
		position: absolute;
		top: 15%;
		left: 9%;
		width: 320px;
		transition: all 10s ease;
		animation: logo_img_bg 10s infinite alternate;
	}
}
@keyframes logo_img_bg {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
// =====================================logo=================================