// =====================================statistic============================
.statistic {
	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 20px 100px;
	}
	&__item {
		flex: 0 1 150px;
		min-height: 100px;
		text-align: center;
		margin: 20px;
	}
	&__img {
		width: 100%;
		margin-bottom: 20px;
	}
	&__title {
		font-family: $Lato;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	&__counts {
		font-family: $Roboto;
		font-size: 22px;
		color: $blue;
	}
}
// =====================================statistic============================