// =====================================withdrawal============================
.withdrawal {
	&__title {
		@extend .deposit__title;
	}
	&-grid {
		@extend .deposit-grid;

		&__row {
			@extend .deposit-grid__row;
		}
		&__item {
			@extend .deposit-grid__item;
		}
		&__img {
			@extend .deposit-grid__img;
		}
	}
	.deposit-grid__item--fw--bold::before {
		display: inline-block;
		color: rgb(255, 5, 5);
		transform: rotate(180deg);
	}
}
.withdrawal-grid__item--background {
	width: 37px;
	height: 35px;
	@include background-img('../img/icons/deposit/sprite.png', no-repeat, 0 0);
	background-size: cover;

	&.wm {
		background-position: 97% 0;
	}
	&.aa {
		background-position: 41% 0;
	}
	&.pe {
		background-position: 22% 0;
	}
	&.btc {
		background-position: 78% 0;
	}
	&.pm {
		background-position: 3% 0;
	}
	&.tt {
		background-position: 60% 0;
	}
}
// =====================================withdrawal============================