@media($maw: 1165px) {
	.plans__row {
		padding: 20px 10px;
	}
	.plans__list-item {
		@include adaptiv-font(18, 14);
	}
	.plans__price-quantity {
		@include adaptiv-font(45, 30);
	}
	.plans__price span {
		@include adaptiv-font(55, 40);
	}
	.auth__inner {
		grid-template-columns: minmax(300px, 500px);
		grid-template-rows: auto auto;
		row-gap: 30px;
	}
}