@media($maw: 690px) {
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		margin-top: 30px;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #000;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: "";
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.menu__icon.active span {
		transform: scale(0) translate(0px, -50%);
	}
	.menu__icon.active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
		background-color: #fff;
	}
	.menu__icon.active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
		background-color: #fff;
	}
	.header-main__inner {
		position: fixed;
		top: 0;
		left: -100%;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 65px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
	.header-main__inner.active {
		left: 0;
	}
	.menu-main__list {
		flex-direction: column;
	}
	.menu-main__link,
	.header-main__auth-link,
	.header-main__telegramm-link::before {
		color: #fff;
	}
	.header-main__row:last-child {
		flex-direction: column;
		align-items: center;
		margin-left: 30px;
	}
	.header-main__telegramm,
	.header-main__auth,
	.header-main__lang {
		margin: 0 0 20px;
	}
	.header-main__row,
	.header-main__telegramm-link {
		margin-left: 0 !important;
	}
	.menu-main__item {
		margin: 0 !important;

		&:first-child,
		&:last-child {
			margin: 0;
		}
	}
	.statistic__inner {
		padding: 20px;
	}
	.statistic__item {
		flex-basis: 125px;
	}
	.header-main__auth-link:last-child {
		border-color: #fff;
	}
	.question__title {
		margin-bottom: 0;
	}
	.question__inner.active {
		grid-template-columns: 1fr;
		grid-template-rows: .6fr 1fr;
		row-gap: 10px;
	}
	.question__row:first-child {
		order: 2;
	}
	.question__row:last-child {
		order: 1;
		margin-left: 0;
	}
	.plans__inner {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		justify-items: stretch;
	}
	.plans__row:last-child {
		grid-column: inherit;
		justify-self: normal;
	}

	.referrals__inner {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, auto);
		grid-template-areas:
			"first"
			"third"
			"fifth"
			"second";
	}
	.referrals__title--first,
	.referrals__title--third,
	.referrals__title--fifth {
		margin: 0;
	}
}